frontend/node_modules
server/node_modules
frontend/dist/
server/dist/
frontend/.env
server/.env
frontend/.next/

venv/
src/saas_backend/venv/
__pycache__/
*.pyc

.env
.env.local


src/saas_backend/authorized_user.json
src/saas_backend/client_secrets.jsonsrc/saas_backend/service_account.json
src/saas_backend/service_account.json
src/saas_backend/client_secrets.json
